.App {
  text-align: center;
  padding: 3em 8em 3em;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.9);
  padding-top: 1.5em;
}

.App-header-logo {
  flex-grow: 1;
}

.App-header-menu {
  flex-grow: 2;
  margin: auto;
  justify-content: end;
  margin-right: 5%;
  margin-top: 2%;
}

.GithubImg {
  max-width: 30%;
}

.LogoImg {
  max-width: 25%;
}

.Section {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: rgb(255, 255, 255, 0.9);
  padding-bottom: 2.5em;
  padding-top: 2.5em;
  opacity: 0.96;
}

.Section-Map {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.Section-Spots {
  display: flex;
  text-align: left;
  flex-grow: 1;
}

.map-container {
  width: 50em;
  height: 50em;
  padding: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
}

.mapboxgl-canvas {
  height: 70em;
}
